<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websocket.chat.message.dao.MessageDao">

    <resultMap id="resultData" type="websocket.chat.message.vo.MessageVO">
        <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
        <result property="sessionId" column="session_id" javaType="int" jdbcType="INTEGER"/>
        <result property="senderUserId" column="sender_user_id" javaType="int" jdbcType="INTEGER"/>
        <result property="receiverUserId" column="receiver_user_id" javaType="int" jdbcType="INTEGER"/>
        <result property="messageType" column="message_type" javaType="int" jdbcType="INTEGER"/>
        <result property="content" column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="int" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" keyProperty="message.id" useGeneratedKeys="true">
        INSERT INTO websocket_chat_messages (session_id,sender_user_id,receiver_user_id,message_type,content,status,create_time,update_time,del_flag)
        VALUES (#{message.sessionId},#{message.senderUserId},#{message.receiverUserId},#{message.messageType},#{message.content},#{message.status},#{message.createTime},#{message.updateTime},#{message.delFlag})
    </insert>
    
    <select id="getLastMessageBySessionId" resultMap="resultData">
        SELECT id,session_id,sender_user_id,receiver_user_id,message_type,content,status,create_time,update_time,del_flag FROM websocket_chat_messages
        WHERE session_id=#{sessionId} AND del_flag=0 ORDER BY id DESC limit 1
    </select>

    <select id="getUnreadMsgCount" resultType="int">
        SELECT COUNT(1) FROM websocket_chat_messages WHERE session_id=#{sessionId} AND status=0 AND del_flag=0
    </select>

    <select id="getHistoryMessageList" resultMap="resultData">
        SELECT id,session_id,sender_user_id,receiver_user_id,message_type,content,status,create_time,update_time,del_flag FROM websocket_chat_messages
        WHERE session_id=#{sessionId} AND id&lt;#{lastMessageId} AND del_flag=0 ORDER BY id DESC limit #{limit}
    </select>

    <select id="getHistoryMessageListWithoutLastMessageId" resultMap="resultData">
        SELECT id,session_id,sender_user_id,receiver_user_id,message_type,content,status,create_time,update_time,del_flag FROM websocket_chat_messages
        WHERE session_id=#{sessionId} AND del_flag=0 ORDER BY id DESC limit #{limit}
    </select>
    
    <update id="updateMessageStatusBySessionId">
        UPDATE websocket_chat_messages SET status=#{status} WHERE session_id=#{sessionId} AND del_flag=0
    </update>

</mapper>
