<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websocket.chat.user.dao.FriendDao">

    <resultMap id="resultData" type="websocket.chat.user.vo.FriendVO">
        <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
        <result property="senderUserId" column="sender_user_id" javaType="int" jdbcType="INTEGER"/>
        <result property="receiverUserId" column="receiver_user_id" javaType="int" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO websocket_chat_friends (sender_user_id,receiver_user_id,create_time,update_time,def_flag)
        VALUES (#{friend.senderUserId},#{friend.receiverUserId},#{friend.createTime},#{friend.updateTime},#{friend.delFlag})
    </insert>

</mapper>
