<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websocket.chat.user.dao.UserDao">

    <resultMap id="resultData" type="websocket.chat.user.vo.UserVO">
        <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userNickname" column="user_nickname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getUserById" resultMap="resultData">
        SELECT id,user_name,user_nickname,password,create_time,update_time,del_flag FROM websocket_chat_user
        WHERE id=#{userId}
    </select>

    <insert id="createUser">
        INSERT INTO websocket_chat_user (user_name,user_nickname,password,create_time,update_time,del_flag)
        VALUES (#{user.userName},#{user.userNickname},#{user.password},#{user.createTime},#{user.updateTime},#{user.delFlag})
    </insert>

</mapper>
